*, html {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background:  white;
    overflow: scroll;
    overflow-x: hidden;
}

/*Шапка бара*/
.topmenu {
    width: 100%; /*Резиновая шапка*/
    padding: 3%;
    background-color: #008000;
}

/*Расположение текста в баре в линию*/
.topmenu > li {
    display: inline;
}

/*Текст в шапке бара*/
.topmenu > li > a {
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    padding: 1%;/*Отступы между текстом в шапке*/
    color: white; /*Цвет шрифта*/
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .2s ease-in-out;
}

/*Изменения цвета при наведении курсора*/
.topmenu li a:hover {
    box-shadow: 0 0 0 0 white inset, 0 0 10px 1px green;
    border-radius: .3rem;
    color: #dddddd;
}

@media screen and (min-width: 900px) {
    .topmenu> .h  {
        float: right;
    }
}

.divPosition{
    margin: 1%;
}

.position{
    margin-left: 3%;
    display: inline;
    font-size: 1.5rem;
}

.positionAuth{
    margin-left: 1%;
    display: inline;
    font-size: 1.5rem;
}

/*Добавить нового сотрудника*/
.addNewStaff{
    outline: 1px solid #228B22;
    padding: 1%;
    box-shadow: 0 0 3pt 2pt #9ACD32;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    border-radius: 5px;
    background-color: white;
}

/*Тест в секции добавить нового сотрудника*/
.addNewStaff> h1 {
    text-align: center;
    font-size: 2.5rem;
    font-style: italic;
    color: black;
    margin-bottom: 3%;
}

/*!!!*/
.addNewStaff> .allDivName > .staffsName {
    font-size: 1.3rem;
}

/*!!!*/
input#addLname, #addFname, #addPname, #addPosition{
    width: 100%;
    height: 40px;
    font-size: 1.3rem;
    line-height: 100%;
    text-indent: 3%;
}
/*!!!*/
input#position{
    height: 40px;
    font-size: 1.3rem;
    line-height: 100%;
    text-indent: 3%;
}
/*!!!*/
.staffsName{
    width: 100%;
    display: table;
    padding-bottom: 2%;
}
/*!!!*/
.allDivName{
    column-count: 4;
    text-align: center;
    padding-bottom: 1%;
}
/*!!!*/
.btnStaff {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: .9rem;
    cursor: pointer;
    background: white;
    color: green;
}
/*!!!*/
.btnStaff[disabled]:hover {
    cursor: default;
}
/*!!!*/
.btnStaff:hover:not([disabled])  {
    box-shadow: 0 0 1px 0 white inset, 0 0 10px 1px green;
    color: black;
    opacity: 1;
    cursor: pointer;
}

/*!!!*/
.StaffsFilter{
    outline: 1px solid #228B22;
    padding: 1%;
    box-shadow: 0 0 3pt 2pt #9ACD32;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    border-radius: 5px;
    background-color: white;
    min-height: 200px;
    max-height: 900px;
    overflow: scroll;
    overflow-x: hidden;
}

/*!!!*/
.StaffsFilter> h1 {
    text-align: center;
    font-size: 2.5rem;
    font-style: italic;
    color: black;
    margin-bottom: 3%;
}

/*!!!*/
.filterSearch{
    padding-top: 1%;
}

/*!!!*/
.btnComment{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: .9rem;
    cursor: pointer;
    background: white;
    color: green;
}

/*!!!*/
.btnComment:hover{
    box-shadow: 0 0 1px 0 white inset, 0 0 10px 1px green;
    color: black;
    cursor: pointer;
}

/*!!!*/
.request{
    outline: 0.1px solid #228B22;
    padding: 1%;
    box-shadow: 0 0 1pt 0.1pt #228B22;
    background: white;
    margin-top: 1%;
    width: 100%;
}

/*!!!*/
.c1{
    column-count: 4;
}

/*!!!*/
.staffReq{
    display: table;
    margin:  auto;
    padding-bottom: 3%;
    font-size: 1.1rem;
}

/*!!!*/
.staffReq1{
    display: table;
    margin:  auto;
    padding-bottom: 3%;
    font-size: 1.1rem;
    font-weight: bold;
}

/*!!!*/
.btnEdit{
    padding: 1%;
    font-size: 1.1rem;
    cursor: pointer;
    width: 12%;
    text-align: center;
    float: left;
}

/*!!!*/
.btnEdit:hover{
    opacity: 1;
    cursor: pointer;
    color: black;
    transition: all .2s ease-in-out;
    box-shadow: 0 0 0 0 white , 0 0 0 1px green;
}

/*!!!*/
.btnEdit > a{
    color: black;
}

/*!!!*/
.btnDelete{
    text-decoration:underline;
    border: none;
    margin-left: 1%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1rem;
    cursor: pointer;
    background: white;
    color: black;

}

/*!!!*/
.btnDelete:hover{
    opacity: 1;
    cursor: pointer;
    color: black;
    /*border: 1px solid transparent;*/
    transition: all .2s ease-in-out;
    box-shadow: 0 0 0 0 white , 0 0 0 1px green;
}

/*!!!*/
.btnAuth {
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
    background-color: green;
    text-align: center;
    text-decoration: none;
}

/*!!!*/
.btnAuth:hover  {
    box-shadow: 0 0 0 0 white inset, 0 0 10px 1px green;
    border-radius: .3rem;
    color: #dddddd;
}

/*!!!*/
.footer{
    left: 0;
    bottom:0;
    margin-top: 0%;
    padding: 3%;
    width: 100%;
    height: 100px;
    background-color: green;
    font-size: 1.1rem;
    color: white;
}